/*!   case one   */
/*
div{ 
  height: 150px;
  width: 230px;
  background: #7f8c8d;
  display: flex;
  gap: 18px;
  padding: 20px 15px;
}
div div{height:40%; width: 20%; border-radius: 5px;
padding: 5px;
text-align: center;
padding-left: 9px;
}
div .box1{background:#1abc9c;}
div .box2{background: #f1c40f;}
div .box3{background:#d35400;}
div .box4{background: #27ae60;}
div .box5{background:#2980b9;}
p{ position: absolute;}
*/
 *,
*::after, 
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
 #menu ul{
  text-align: center;
  
}
#menu li{
  display: inline-block;
  border: 2px solid #ddd;
 
  height: 50px;
  width: 30px;
   margin: 5px 5px;
  border-radius: 4px;
box-shadow: 0 0 10px #ddd;
cursor: pointer;
} 
#menu li.red{background: #c0392b;}
#menu li.green{background: #27ae60;}
#menu li.blue{background: #2980b9;}
#menu li.yellow{background: #f1c40f;}
#menu li.orange{background: #e67e22;}